ul {
    max-width: 1128px;
    max-height: 648px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.gallery li img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.gallery li:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}